<form action="/user/<%= @user.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="patch">
  <p>Name:
    <input type="text" name="name" value="<%= @user.name %>"></p>
  <p>Email:
    <input type="text" name="email" value="<%= @user.email %>"></p>
    <input type="submit" value="Update">
</form>