
<h3>Display all Decrets</h3>
<div>
  <% @secret.each do |secret| %>
    <p><%= secret.content %></p>
      <% if session[:user_id] == secret.user_id %>
        <form action="/secrets/<%= secret.id %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="user_id" value="<%= session[:user_id] %>">
          <button>Delete</button>
        </form>
      <% end %>
  <% end %>
</div>